[submodule "src/camera_lite"]
	path = src/camera_lite
	url = https://github.com/DevWalrus/camera_lite.git
[submodule "src/camera_lite_interfaces"]
	path = src/camera_lite_interfaces
	url = https://github.com/slaghuis/camera_lite_interfaces.git
